# Build output
bin/
obj/

# User-specific files
*.user
*.suo
.vs/

# macOS / Linux junk
.DS_Store
Thumbs.db

# SQLite database
*.db
*.sqlite

# Logs
*.log

# App builds
*.apk
*.aab
*.exe

# Backup files
*.bak

# MAUI specific cache
**/AppPackages/
**/AppData/
